body {
    background: #fff;
    text-align: center;
}

body img {
    width: 35em;
    height: 14em;
    opacity: 0.2;
    margin: 5% 0 10% 0;
}

footer {
    margin: 70px 0 0 0;
}


h1 {
    font-size: 5em;
    color: rgb(70, 70, 70);
}

p {
    font-size: 1.7em;
    color: rgb(70, 70, 70);
}


.main {
    background: rgb(235, 235, 235);
    margin: 10% 15% 10% 15%;
    text-align: center;
}

.box {
    background: #fff;
    color: rgb(65, 65, 65);
    border: 6px solid #888;
    margin: 5% 0 2% 0;
}

.block .option {
    cursor: pointer;
    border: none;
    display: block;
    z-index: 999;
    width: 50%;
    background-color: #f8f8f8;
    color: #333;
    border-radius: 2px;
    padding: 0.2em 25% 0.2em 25%;
    transition: all 700ms ease-in-out;
    box-shadow: 0 1px 2px #44444430;
}

  .block .option:hover {
    background-color: rgb(172, 172, 172);
    color: #fff;
}

.block input[type=radio] {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -999;
}

.block input[type=radio]:checked + .option {
    background-color: rgb(138, 255, 138);
    color: #fff;
}

.submit {
    background: rgb(138, 255, 138);
    border-radius: 10%;
    font-size: 1.7em;
    margin: 1% 0 10% 0;
}

.results {
    margin: 5% 0 5% 0;
}
