
body {
    background: linear-gradient(75deg, lightblue, rgb(101, 253, 215), #555);
    width: 98%;
    border: 5px solid #888;
}

h1 {
    color: rgb(34, 18, 44);
    text-align: center;
    font-size: 4.2em;
    margin: 0;
    padding: 0.5em;
}
  
h2 {
    padding: 0 0 0.5em 0;
    margin: 0;
    box-shadow: 0 2px 3px -3px #000;
    color: #333;
}

header p {
    padding: 0 0 2% 20%;
    font-size: 1.5em;
}
 
footer {
    padding: 0 0 2% 40%;
    font-size: 1.3em;
    background: linear-gradient(105deg, lightblue, rgb(101, 253, 215), #555);
}
img {
    margin: 0 0 0 28%;
    opacity: 0.7;
}

.box {
    margin: 20px 10% 20px 15%;
    height: 200px;
    width: 70%;
    background: linear-gradient(45deg #7F7FD5, 145deg #91EAE4);
    border-radius: 1%;
    border: 1px solid #888;
}

section {
    max-width: 100%;
    padding: 0.75em;
    margin: 0 auto;
    width: 90%;
}

section p {
    margin: 0.75em 1.4em;
}

.submit {
    margin: 70px 0 20px 40%;
}

.submit input {
    margin: 20px 0 20px 10%;
}

.grid {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    text-transform: capitalize;
    grid-gap: 10px;
}

.grid p {
    color: #333;
}

.grid input[type=radio] {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -999;
}

.grid input[type=radio]:checked + .option {
    background-color: rgb(93, 97, 93);
    color: #fff;
}

.grid .option {
    position: relative;
    cursor: pointer;
    border: none;
    display: block;
    z-index: 999;
    background-color: #f8f8f8;
    color: #333;
    border-radius: 4px;
    padding: 0.2em 0;
    transition: all 200ms ease-in-out;
    box-shadow: 0 1px 2px #44444430;
}
  .grid .option:hover {
    background-color: rgb(85, 77, 204);
    color: #fff;
}



.outstanding {
    background-color: #0cce6b20;
    margin: 3em auto;
    border-radius: 3px;
    text-align: center;
}

.average {
    background-color: #1164ff83;
    margin: 3em auto;
    border-radius: 3px;
    text-align: center;
}

.poor {
    margin: 3em auto;
    border-radius: 3px;
    text-align: center;
}

.result {
    transform: translateY(0.5em);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 2.4em;
    width: 3em;
    height: 3em;
    color: rgb(37, 37, 37);
    border-radius: 20%;
}

.submit input[type=submit] {
    margin: 3em auto;
    background-color: rgb(187, 198, 247);
    border-radius: 10%;
    padding: 0.2em 0.75em;
    font-size: 2em;

}

@media (max-width: 768px) {
    body {
        font-size: 0.75em;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    section p {
        margin: 1em 0.5em;
    }
    section h2 {
        text-align: center;
    }
}
